name: TESTE WITH MERGE

on:
 workflow_dispatch:

jobs:
  user-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci
      - run: npm run test:e2e:user:cov
      - name: upload coverege-final.json
        uses: actions/upload-artifact@v3
        with:
          name: coverege-final-user
          path: report/user-coverage/coverage-final.json

      
  product-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci
      - run: npm run test:e2e:product:cov
      - name: upload coverege-final.json
        uses: actions/upload-artifact@v3
        with:
          name: coverege-final-product
          path: report/product-coverage/coverage-final.json

  merge-coverege:
    needs: 
      - user-test
      - product-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          path: report
      - name: Display structure of downloaded files
        run: ls -R
        working-directory: ./report
      - run: npm run merge:coverege
